<header>
  <img
    src="assets/images/Inventory-logo.png"
    class="logo"
    alt="Inventory-logo"
  />
</header>
<p-table
  #inventoryTable
  [value]="filteredInventory"
  class="p-datatable-striped"
  [paginator]="true"
  [rows]="10"
  [globalFilterFields]="['name']"
>
  <ng-template pTemplate="caption">
    <div class="action-bar">
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          [(ngModel)]="searchValue"
          (input)="filterGlobal($event, 'contains')"
          placeholder="Search By Item Name"
        />
      </span>
      <p-dropdown
        [options]="stockStatusOptions"
        [(ngModel)]="selectedStockStatus"
        placeholder="Select Stock Status"
        (onChange)="filterByStockStatus()"
        optionLabel="label"
        optionValue="value"
        styleClass="ml-8"
      ></p-dropdown>
      <button
        pButton
        pTooltip="Add New Item"
        tooltipPosition="bottom"
        icon="pi pi-plus"
        class="p-button-success"
        (click)="openDialog(newItem, false)"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th pSortableColumn="stock">
        Stock Quantity <p-sortIcon field="stock"></p-sortIcon>
      </th>
      <th>Last Updated</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.category }}</td>
      <td>
        <span>
          {{ item.stock }}
        </span>
        <span
          [ngClass]="{
            'low-stock': item.stock < 5,
            'in-stock': item.stock >= 5
          }"
        >
          {{ item.stock < 5 ? "Low Stock" : "in-stock" }}
        </span>
      </td>
      <td>{{ item.lastUpdated | date : "dd/MM/yyyy" }}</td>
      <td>
        <p-button
          icon="pi pi-eye"
          pTooltip="View Item"
          tooltipPosition="left"
          [rounded]="true"
          [outlined]="true"
          severity="info"
          (onClick)="openDialog(item, true)"
        />
        <p-button
          icon="pi pi-pencil"
          class="ml-8"
          pTooltip="Edit Item"
          [rounded]="true"
          [outlined]="true"
          severity="warning"
          (onClick)="openDialog(item, false)"
        />
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr class="text-center">
      <td colspan="5">No data found.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="displayDialog"
  [header]="
    selectedItem?.id === 0
      ? 'Add New Inventory Item'
      : readonlyMode
      ? 'View Inventory Item'
      : 'Edit Inventory Item'
  "
  [modal]="true"
  [closable]="true"
>
  <app-inventory-form
    *ngIf="selectedItem"
    [item]="selectedItem"
    [readonly]="readonlyMode"
    (close)="displayDialog = false"
  ></app-inventory-form>
</p-dialog>
